body {
    margin: 0px;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

#banner {
    height: 150px;
    background-color: #ce7e00;
}

#menu {
    height: 20px;
    padding: 5px;
    background-color: #a64d79;
}

#lmenu {
    width: 150px;
    height: 100vh;
    padding: 10px;
    background-color: #0b5394;
    float: left;
}

#content {
    width: 810px;
    height: 100vh;
    padding: 10px;
    background-color: grey;
    float: left;
}

a:hover {
    color: yellow;
}

a:visited, a:link {
    color: white;
}

li {
    list-style-type: square;
}

.sp {
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: #a64d79;
    margin: 5px;
    float: left;
}